/** @format */

/*Styling for all visible content on this page*/
body {
  font-size: large;
  text-align: center;
}

/*Keeping button styles consistent*/
button {
  background-color: palegreen;
  border-radius: 80px;
  margin: 70px;
}

/*Styling for the list of links at the top of the page*/
#links {
  list-style-type: none;
}

/*Styling for the images on the page*/
.images {
  display: flex;
}

/*Styling for the sign-up form at the bottom of the page*/
footer {
  font-size: medium;
}

li {
  list-style-type: none;
  margin: 10px;
}
